body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color{
    color: orange;
}
.size{
    width: 50%;
    padding-left: 5%;
}
section{
    display: flex;
    margin-bottom
    : 100px;
}
.size img {
    width: 100%;
  } 
input{
    background-color: #db990b;
    border-radius: 10px;
    size: 3px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #ffffff;
    border-radius: 5%;
    font-weight: 700;
}
.back-img{
    background-image:url(images/240_F_499720953_6mVFisNfDrvdl1B4qANgBeFh5OMp0CYe.jpg);
    background-repeat:;
}
.marijuana-effect{
    background-image: url(images/240_F_499720953_6mVFisNfDrvdl1B4qANgBeFh5OMp0CYe.jpg);
    background-repeat: ; ;
}